 <p style="color: rgb(7, 161, 199);">NOTE: Some older records don't have an ip address and login/logout time</p>
 <div *ngIf="dataLoaded | async" style="
width:1000px; margin: -10px 0 0 -200px;
 padding: 10px;overflow: auto;"> <table class="table table-striped table-bordered table-sm row-border hover"  datatable [dtOptions]="dtOptions">
    <thead class="thead-dark">
        <tr>
            <th>username</th>
            <th>Role</th>
            <th>Ip</th>
            <th>Login Time</th>
            <th>Logout Time</th>
         </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of users">
            <th>{{ item.username }}</th>
            <th>{{item.role}}</th>
            <td>{{ item.ip }}</td>
            <td>{{ item.loginTime }}</td>
            <td>{{ item.logoutTime}}</td>
         </tr>
    </tbody>
  </table>
  
 </div>
